.search {
  position: absolute;
  width: 4rem;
  height: 4rem;
}

.search-text {
  position: relative;
  opacity: 0;
  top: -1px;
  left: 0;
  border: none;
  outline: none;
  width: 0;
  font-family: inherit;
  height: 4rem;
  font-size: 16px;
  padding-left: 8px;
  transition: 0.6s;
}

.search:hover{
  border: solid 1px white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.search:hover .search-text {
  width: 25rem;
  left: -25rem;
  transition: 0.6s;
  opacity: 1;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
